/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 879px) {
  .site-content {
    padding-top:10px;
  }
}


@media (max-width: 767px) {
  .site-content {
    padding-top:10px;
  }
  body {
  	text-align:center;
  }

  .media-object {
  	display:inline;
  }
}